


.custom-navbar {


  background-color: #E99CB2;


}
 



.custom-btn {


  background-color: #E99CB2;


  color: white;


}
 



.product-img {


  object-fit: contain;


  height: 200px;


  padding: 1rem;


}
 



.carousel-img {


  object-fit: cover;


  height: 900px !important;
  width: 100% !important;


}
 



.footer-custom {


  background-color: #E99CB2;


  font-family: 'Arial', sans-serif;


  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);


}
 
.footer-custom p {


  font-size: 1rem;


  letter-spacing: 0.5px;


  font-weight: 600;


}

 