body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background-color: #9CD1E9;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  margin: 0 1em;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.logo {
  height: 80px;
}

main {
  padding: 2em;
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
}

.produto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.produto img {
  max-width: 700px;
  margin: 1em 0;
}

.botoes {
  display: flex;
  gap: 4em;
  margin: 1em 0;
}

button {
  padding: 1em 2em;
  background-color: #41a8e9;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.0em;
}

section {
  border: 1px solid #ddd;
  padding: 1em;
  margin-top: 1.5em;
  background-color: #fdfdfd;
}

footer {
  background-color: #a8d8ea;
  text-align: center;
  padding: 1em;
  margin-top: 2em;
}
